/* Firefox userChrome.css */

/* Comments tagged with "X" are above seemingly necessary control code that roughly does what the comment says it does; this does not mean that the code is as efficient, non-redundant, well-formed or precise as it should be. When all code here has been tagged with "X", the next step will be to make sure that code is as efficient, non-redundant, well-formed, and precise as possible */

/* Comments tagged with "XX" mean that the code is as efficient, non-redundant, well-formed, and precise as possible */

/*........................*/
/* GLOBAL VARIABLES START */
/*........................*/

/* XX Sets the global font size of the Firefox UI; useful if are unhappy with the global font-size set in gtk.css and want to overrride it for Firefox alone

* { font-size: 10px !important; } */

:root {

/* XX Configures reused color tokens */
  --uc-color-bg: #010305;
  --uc-color-surface: #060606;
  --uc-color-fg: #8a97bf;
  --uc-color-fg-hover: #c7d0ea;
  --uc-color-border-muted: #222630b3;
  --uc-color-button-hover: #2a2a2a;
  --uc-color-button-active: #6f7aa0;
  --uc-color-light-surface: #e6ebf5;
  --uc-color-light-control: #d7dbe6;
  --uc-color-mask-opaque: #000;

/* XX Configures single-line URL bar + tabs settings */
  --uc-tab-height: 30px;
  --uc-bar-height: 38px;
  --uc-navbar-width: min(24vw, 250px);
  --uc-urlbar-tabs-gap: 10px;
  --uc-urlbar-box-vertical-margin: 4px; /* Sets height of main URL box; the bigger the number, the shorter the box */
  --uc-nav-tabs-y-offset: -25px; /* Controls vertical position of URL-bar and tabs as a single unit; there is an unknown limit, but -25px surpasses it, maximizing the offset */

}

/*......................*/
/* GLOBAL VARIABLES END */
/*......................*/

/*...................*/
/* MAIN LAYOUT START */
/*...................*/

/* X Configures the single-line URL bar + tabs */
@media (min-width: 950px) {
  #navigator-toolbox {
    padding-top: var(--uc-nav-tabs-y-offset) !important;
  }
  #nav-bar {
    margin-top: calc(-1 * var(--uc-bar-height)) !important;
    margin-right: calc(100vw - var(--uc-navbar-width)) !important;
    margin-left: 3px !important;
    height: var(--uc-bar-height) !important;
  }

/* XX Controls vertical position of tabs relative to the URL bar */
#tabbrowser-arrowscrollbox {
    transform: translateY(3.5px) !important; 
  }

/* ? */
  #TabsToolbar {
    margin-left: calc(var(--uc-navbar-width) + var(--uc-urlbar-tabs-gap)) !important;
  }

/* ? */
  #urlbar-container {
    min-width: 0 !important;
    flex: 1 1 auto !important;
  }
}

/* XX Removes empty spacers; by default, Firefox uses two: one on both sides of the URL bar */
toolbarspring {
  display: none !important; 
}

/* XX URL-container-background and tabstrip-background-container colors */
#navigator-toolbox,
#nav-bar {
  background-color: var(--uc-color-bg) !important;
  color: var(--uc-color-fg) !important;
  border-color: transparent !important;
}

/* XX Adds space between the bottom of the URL-bar and the website page and sets whole-browser background color to color the space */
#browser {
  padding-top: 3px !important;
  background-color: var(--uc-color-bg) !important;
}

/*.................*/
/* MAIN LAYOUT END */
/*.................*/

/*...............*/
/* URL-BAR START */
/*...............*/

/* XX Main URL-bar settings */
#urlbar,
.urlbar-background {
  background-color: transparent !important;
  color: var(--uc-color-fg) !important;
  border-color: var(--uc-color-border-muted) !important;
  border-radius: 3px !important;
  --link-color: var(--uc-color-fg-hover) !important;
  margin-block: var(--uc-urlbar-box-vertical-margin) !important;
}

/* XX Modifies the focus state of the URL bar */
#urlbar:focus-within > .urlbar-background {
  background-color: var(--uc-color-surface) !important;
  color: var(--uc-color-fg) !important;
  border-color: var(--uc-color-border-muted) !important;
  outline: none !important;
}

/* XX Sets the colors for selected text and its background */
#urlbar-input::selection {
  background-color: var(--uc-color-fg) !important;
  color: var(--uc-color-bg) !important;
}

/* XX Sets color and dimensions for the shortcut pill inside the URL bar */
#urlbar-search-mode-indicator {
  background-color: var(--uc-color-border-muted) !important;
  color: var(--uc-color-fg) !important;
  border-radius: 3px !important;
  height: 18px !important;
  margin-inline-start: 1px !important;
  margin-inline-end: 4px !important;
  align-self: center !important;
}

/* XX Prevents the URL "breakout" mode on focus from pushing the URL border below the webpage line */
#urlbar[breakout][breakout-extend] {
  top: 0 !important;
  max-width: calc(100vw - 10px) !important;

/* XX Uncomment this block and comment out the prior "max-width" line if you want the URL bar, when clicked, to sweep across the whole top of the page 
  width: calc(100vw - 16px) !important; */
}

/* XX Hides URL-bar right-click/edit context menu */
#urlbar .textbox-contextmenu {
  display: none !important;
}

/* XX Removes horizontal bar below the URL border when a keyword is entered  */
#urlbar[searchmode] > .urlbarView {
  display: none !important;
}

/* XX Hides main search-bar text "Search with DuckDuckGo or enter an address" */
  #urlbar-input::placeholder {
    opacity: 0 !important;
  }

/* XX Hides the URL-bar dropdown bottom "This time search with" strip */
#urlbar .search-one-offs {
  display: none !important;
}

/* XX Hides the URL-bar zoom button */
#urlbar-zoom-button {
  display: none !important;
}

/* XX Hides the reader mode button */
#reader-mode-button {
  display: none !important;
}

/* XX Hides the translations button */
#translations-button {
  display: none !important;
}

/* XX Adds space to the left of the URL bar */
#urlbar-container {
  margin-left: 10px !important;
}

/* XX Removes default left-side URL bar magnifying glass after "browser.urlbar.scotchBonnet.enableOverride" in about:config has been set to "false" */
#identity-box {
  display: none !important;
}

/* XX Keeps the bookmark page-action anchor alive for Ctrl+D, but shrinks and hides the visible star as much as possible. Do not use "display:none" or "visibility:collapse" on #star-button-box */
#urlbar #star-button-box {
  opacity: 0 !important;
  pointer-events: none !important;
  width: 1px !important;
}

/* XX Hides the URL-bar right-side blue globe */
#urlbar-revert-button-container {
  display: none !important;
}

/* XX Hides the URL-bar right-side arrow */
.urlbar-go-button {
  display: none !important;
}

/* XX Hides per-site permissions box in the URL bar 
#identity-permission-box {
  display: none !important;
}*/ /* Reintroduce if the icon reappears */

/* XX Hides Temporary Extension icon and label 
#identity-box.extensionPage #identity-icon-box {
  display: none !important;
}*/ /* Reintroduce if the icon reappears */

/* X Hides the DRM-content-disabled icon 
notification[value="drmContentDisabled"] {
  display: none !important;
}*/ /* Reintroduce if the icon reappears */

/* XX Hides the EME icon 
#eme-notification-icon {
  display: none !important;
}*/ /* Reintroduce if the icon reappears */

/* X URL-bar suggestion popup: hides result icons/favicons/bookmark markers/buttons */ /* Needs to be simplified */
.urlbarView-row :is(
  image,
  img,
  .urlbarView-favicon,
  .urlbarView-type-icon,
  .urlbarView-persistence-indicator,
  .urlbarView-dynamic-icon,
  .urlbarView-action-icon,
  .urlbarView-button
) {
  display: none !important;
}

/* XX Removes leftover second-line icon indent */
.urlbarView .urlbarView-row {
  --urlbarView-second-line-indent: 0px !important;
}

/* XX Sets colors for URL-bar dropdown selection and hover */
#urlbar-results .urlbarView-row[selected] {
  background-color: transparent !important;
  color: var(--uc-color-fg-hover) !important;
}

#urlbar-results .urlbarView-row:hover {
  background-color: transparent !important;
  color: var(--uc-color-fg-hover) !important;
}

/* XX Hides URL-bar dropdown results "Firefox Suggest" text */
.urlbarView-row[label*="Firefox Suggest"] {
  display: none !important;
}

/*.......................................*/
/* URL BAR, SEARCH BAR, AND FIND BAR END */
/*.......................................*/

/*.........................*/
/* TABS AND TABSTRIP START */
/*.........................*/

/* ? */
.tab-background,
.tab-stack {
  min-height: var(--uc-tab-height) !important; 
}

/* XX Sets tab hover-preview tooltip background and border color and radius */
#tab-preview-panel {
  --panel-background-color: var(--uc-color-surface) !important;
  --panel-border-color: var(--uc-color-border-muted) !important;
  --panel-border-radius: 3px !important;
}

/* XX Sets selected tab-text color */
.tabbrowser-tab:is([visuallyselected], [multiselected]) .tab-label {
  color: var(--uc-color-fg) !important;
}

/* XX Sets tab-text hover color */
.tabbrowser-tab:hover .tab-label {
  color: var(--uc-color-fg-hover) !important;
}

/* XX Hides inactive-tabs' background hover highlight */
.tabbrowser-tab:hover .tab-background {
  background: none !important;
}

/* XX Hides selected-tabs background highlight */
.tabbrowser-tab[selected] .tab-background {
  background: none !important;
}

/* XX Fade inactive tabs */
.tabbrowser-tab:not([visuallyselected]):not([multiselected]):not(:hover) {
  opacity: .5 !important;
  transition: opacity .5s !important;
}

/* XX Hides tab tooltip URL */
#tab-preview-panel .tab-preview-uri {
  display: none !important;
}

/* XX Configures tab-tooltip title-text settings */
#tab-preview-panel .tab-preview-title {
  color: var(--uc-color-fg-hover) !important;
  font-size: 9px !important;
  font-weight: 400 !important;
}

/* XX Hides tabs' right-click context menu */
#tabContextMenu {
  display: none !important;
}

/* XX Hides Firefox's native overflow indicator bars */
spacer[part="overflow-start-indicator"],
spacer[part="overflow-end-indicator"] {
  display: none !important;
}

/* XX Hides the brief loading burst that sweeps across the tab */
.tab-loading-burst {
  display: none !important;
}

/* XX Hides the small animated throbber that replaces the favicon */
.tab-throbber {
  display: none !important;
}

/* XX Fade tabstrip overflow cutoffs */
#tabbrowser-arrowscrollbox[orient="horizontal"] {
  --uc-tabstrip-fade-width: 20px; /* Controls both the left and right tab-bar fade width */
  mask-image: linear-gradient(
    to right,
    transparent 0,
    var(--uc-color-mask-opaque) var(--uc-tabstrip-fade-width),
    var(--uc-color-mask-opaque) calc(100% - var(--uc-tabstrip-fade-width)),
    transparent 100%
  ) !important;
  mask-repeat: no-repeat !important;
  mask-size: 100% 100% !important;
}

/* XX Hides the overflow back-forward arrow buttons on the tab bar */
#scrollbutton-up,
#scrollbutton-down {
  display: none !important;
}

/* XX Hides the close button on tabs */
.tab-close-button {
  display: none !important;
}

/* XX Sets tab audio-icon default color */
.tab-audio-button {
--button-icon-fill: var(--uc-color-fg) !important;
}

/* XX Sets the hover color of the tab audio-is-playing/muted icon */
 .tab-audio-button:hover,
 .tab-audio-button[muted]:hover {
  --button-icon-fill: var(--uc-color-fg-hover) !important;
  --button-background-color-ghost-hover: transparent !important;
}

/* XX Sets the clicked background color of the tab audio-is-playing/muted icon */
.tab-audio-button {
  --button-background-color-ghost-active: transparent !important;
}

/* X Hides non-audio icons inside tabs, including autoplay-blocked play/video button */
.tabbrowser-tab .tab-icon-pending, /* Test */
.tabbrowser-tab .tab-sharing-icon-overlay, /* Test */
.tabbrowser-tab[activemedia-blocked] .tab-audio-button /* Test */ {
  display: none !important;
}

/*.......................*/
/* TABS AND TABSTRIP END */
/*.......................*/

/*................................*/
/* GLOBAL CHROME AND POPUPS START */
/*................................*/

/* XX Hides the toolbar/chrome right-click menu only. This is the popup with items such as "Turn on Vertical Tabs", "Menu Bar", "Bookmarks Toolbar", and "Customize Toolbar..." */
#toolbar-context-menu {
  display: none !important;
}

/* XX Hides the right-side hamburger menu button */
#PanelUI-button {
  display: none !important;
}

/* XX Hides only the window close button in the title bar */
.titlebar-close {
  display: none !important;
}

/* XX Hides the default URL-bar back and forward arrows */
#back-button,
#forward-button {
  display: none !important;
}

/* XX Hides the blue underline from Alt-menubar labels */
menubar > menu {
  border-bottom-color: transparent !important;
}

/* XX Hides icons in all popups, like the popups of the Alt-menubar */
menupopup .menu-icon {
  display: none !important;
}

/* XX Remove horizontal separators from all popups */
menupopup menuseparator {
  display: none !important;
}

/* X Sets the Alt-menubar popup hover colors for items */
menupopup > :is(menuitem, menu)[_moz-menuactive="true"]:not([disabled]) {
  background-color: #f1f3fa !important;
  color: #0b0b0b !important;
}

/* XX Hides page/content-area right-click context menu */
#contentAreaContextMenu {
  display: none !important;
}

/* XX Hides bottom-left gray status/link popups globally */
#statuspanel {
  display:none !important;
}

/*..............................*/
/* GLOBAL CHROME AND POPUPS END */
/*..............................*/

/*...............*/
/* SIDEBAR START */
/*...............*/

/* XX Hides sidebar width-adjuster */
#sidebar-splitter {
  display: none !important;
}

/* XX Controls the sidebar width */
#sidebar-box {
  width: 185px !important;
  padding-top: 85px !important; /* Adjust to vertically center bookmarks content within the sidebar */
}

/* XX Hides the star icon and Bookmarks dropdown menu button at the top of the bookmarks sidebar */
#sidebar-header {
  display: none !important;
} 

/* XX Hides bookmarks/Places right-click context menus. Covers the Bookmarks Sidebar and other Firefox Places bookmark views */
#placesContext {
  display: none !important;
}

/* XX Hides the bookmarks sidebar icons */
#bookmarks-view treechildren::-moz-tree-image {
  width: 0px !important;
  height: 0px !important;
}

/* XX Hides the text-edit right-click menu from the Bookmarks sidebar search box */
  menupopup.textbox-contextmenu {
    display: none !important;
  }

/* XX Sets sidebar background color */
#sidebar-box {
  background-color: var(--uc-color-bg) !important;
}

/* X Hides sidebar-search placeholder text */
  input#input[type="search"]::placeholder  {
    opacity: 0 !important;
  }

/* X Bookmarks sidebar */
@-moz-document url("chrome://browser/content/places/bookmarksSidebar.xhtml") {
  
  /* XX Remove dotted focus ring from tree rows, cells, and text */
  #bookmarks-view treechildren::-moz-tree-row(focus) {
      outline: none !important;
  }

  /* XX Removes a white background highlight and border from the parent when the child is hovered */
  #bookmarks-view treechildren::-moz-tree-row(selected) {
    background-color: var(--uc-color-bg) !important;
  }

  /* X Remove hover background highlight */
  #bookmarks-view treechildren::-moz-tree-row(hover),
  #bookmarks-view treechildren::-moz-tree-cell(hover) {
    background: transparent !important;
  }

  /* XX Set normal tree text, selected disclosure-arrow color, and text margin */

  #bookmarks-view treechildren::-moz-tree-cell-text{
    color: var(--uc-color-fg) !important;
    margin-left: -10px !important;
  }

  /* XX Hides child twisties */
  #bookmarks-view treechildren::-moz-tree-twisty(selected) {
    color: transparent !important;
  }

  /* XX Hides the top-level twisties */
  #bookmarks-view { 
    color: transparent !important;
  }

  /* XX Highlight hovered tree text */
  #bookmarks-view treechildren::-moz-tree-cell-text(hover) {
    color: var(--uc-color-fg-hover) !important;
  }

  /* XX Theme the bookmarks search field */
  #search-box {
    --input-text-background-color: transparent !important;
    --input-text-border: transparent !important;
    --input-text-color: #939393 !important;
  }

  #search-box input::selection,
  #search-box #input::selection,
  input#input[type="search"]::selection {
    background-color: var(--uc-color-fg) !important; /* Highlight color */
    color: var(--uc-color-bg) !important; /* Text color while highlighted */
  }

  /* XX Hides the blue focus ring around the search box */
  #input:focus {
    outline: none !important;
  }

  /* XX Hides built-in root-row contents: toolbar, menu, and unfiled bookmarks */
  .sidebar-placesTreechildren::-moz-tree-cell-text(container, queryFolder_toolbar_____),
  .sidebar-placesTreechildren::-moz-tree-cell-text(container, queryFolder_menu________),
  .sidebar-placesTreechildren::-moz-tree-cell-text(container, queryFolder_unfiled_____) {
    opacity: 0 !important;
  }
}

/* XX Hides the sidebar searchbox "x" to the right of entered text */
::-moz-search-clear-button {
    display: none !important;
}

/*.............*/
/* SIDEBAR END */
/*.............*/

/*......................*/
/* "ADD BOOKMARK" START */
/*......................*/

/* XX "Add Bookmark" manual positioning */
#editBookmarkPanel {
  margin-top: 24px !important; /* positive = lower */
  margin-inline-start: 30px !important; /* negative = left; positive = right */
}

/* XX Hides "Add Bookmark" popup title */
#editBookmarkPanelTitle,

/* XX Hides "Add Bookmark" popup separator below title */
#editBookmarkHeaderSeparator,

/* XX Hides "Add Bookmark" popup Name label */
#editBookmarkPanel label[control="editBMPanel_namePicker"],

/* XX Hides "Add Bookmark" popup Location label */
#editBookmarkPanel label[control="editBMPanel_folderMenuList"],

/* XX Hides "Add Bookmark" popup "Show editor when saving" checkbox and text */
#editBookmarkPanel_showForNewBookmarks {
  display: none !important;
}

/* XX Adds spacing below "Add Bookmark" popup Name field */
#editBMPanel_namePicker {
  margin-bottom: 20px !important;
}

/* XX Sets "Add Bookmark" "Save" button color */
#editBookmarkPanelDoneButton {
  --button-background-color-primary: var(--uc-color-surface) !important;
  --button-background-color-primary-hover: var(--uc-color-button-hover) !important;
  --button-background-color-primary-active: var(--uc-color-button-hover) !important;
  --button-text-color-primary: var(--uc-color-fg-hover) !important;
  --button-text-color-primary-hover: var(--uc-color-fg-hover) !important;
  --button-text-color-primary-active: var(--uc-color-fg-hover) !important;
}

/* XX Sets "Add Bookmark" name-field border color */
#editBMPanel_namePicker {
  /*appearance: none !important;*/
  background-color: #f2f6ff !important;
  border: 1px solid var(--uc-color-light-control) !important;
  color: #000000 !important; /* Sets color of name field text */
}

#editBMPanel_namePicker:focus-visible {
  outline: none !important;
}

/* XX Sets "Add Bookmark" name-field text selection colors */
#editBMPanel_namePicker::selection {
  background-color: var(--uc-color-button-hover) !important;
  color: var(--uc-color-fg-hover) !important;
}

/* XX Popup header */
#editBookmarkPanel > .panel-header {
  background-color: var(--uc-color-light-surface) !important;
}

/* XX Popup body background */
#editBookmarkPanel > .panel-subview-body {
  background-color: var(--uc-color-light-surface) !important;
}

/* XX Cancel/Remove button, Location capsule, and arrow capsule */
#editBookmarkPanelRemoveButton,
#editBMPanel_folderMenuList,
#editBMPanel_foldersExpander {
  /*appearance: none !important;*/
  background-color: var(--uc-color-light-control) !important;
 /* background-image: none !important;*/
  color: var(--uc-color-surface) !important;
  /*border: 0.5px solid var(--uc-color-border-muted) !important;
  border-radius: 3 !important;
  box-shadow: none !important;*/
}

/* XX Hover state. Linked to prior codeblock */
#editBookmarkPanelRemoveButton:hover,
#editBMPanel_folderMenuList:hover,
#editBMPanel_foldersExpander:hover {
  background-color: #c9cdd6 !important;
  color: var(--uc-color-surface) !important;
}

#editBookmarkPanelContent #editBMPanel_folderTree {
  -moz-appearance: none !important;
}

#editBookmarkPanelContent #editBMPanel_folderTree > treechildren::-moz-tree-row(selected),
#editBookmarkPanelContent #editBMPanel_folderTree > treechildren::-moz-tree-row(selected, focus) {
  background-color: #d7dbe6 !important;
  border: none !important;
  outline: none !important;
}

#editBookmarkPanelContent #editBMPanel_folderTree > treechildren::-moz-tree-cell-text(selected),
#editBookmarkPanelContent #editBMPanel_folderTree > treechildren::-moz-tree-cell-text(selected, focus) {
  color: #0b0b0b !important;
}

#editBookmarkPanelContent #editBMPanel_folderTree > treechildren::-moz-tree-image(container, selected),
#editBookmarkPanelContent #editBMPanel_folderTree > treechildren::-moz-tree-image(container, selected, focus) {
  fill: #0b0b0b !important;
}

#editBookmarkPanelContent #editBMPanel_folderTree > treechildren::-moz-tree-twisty(selected),
#editBookmarkPanelContent #editBMPanel_folderTree > treechildren::-moz-tree-twisty(selected, focus) {
  color: #0b0b0b !important;
}

/* X Sets the hover color for the dropdown inner items */
#editBookmarkPanelContent #editBMPanel_folderTree > treechildren::-moz-tree-row(hover) {
  background-color: #f1f3fa !important;
}

#editBookmarkPanelContent #editBMPanel_folderTree > treechildren::-moz-tree-row(selected, hover),
#editBookmarkPanelContent #editBMPanel_folderTree > treechildren::-moz-tree-row(selected, hover, focus) {
  background-color: #d7dbe6 !important;
}

/* X Hides "Add Bookmark" dropdown inner icons */
#editBookmarkPanelContent #editBMPanel_folderTree > treechildren::-moz-tree-image {
  visibility: hidden !important;
  width: 0 !important;
  padding: 0 !important;
  margin: 0 !important;
}

/* XX Hides the Location-button icons */
#editBMPanel_folderMenuList {
  list-style-image: none !important;
}

/*....................*/
/* "ADD BOOKMARK" END */
/*....................*/

/*...................*/
/* TRUST-PANEL START */
/*...................*/

/* XX Manual positioning controls */
#trustpanel-popup {
  margin-top: 24px !important; /* Positive = lower */
  margin-inline-start: -3px !important; /* Negative = left; positive = right */
}

/* XX Trust-panel background */
panelview {
  background-color: var(--uc-color-light-surface) !important;
  color: var(--uc-color-surface) !important;
}

/*.................*/
/* TRUST-PANEL END */
/*.................*/

/*..................*/
/* TRUST-ICON START */
/*..................*/

#trust-icon {
  opacity: 0.50 !important;
  transform: scale(0.70) !important;
  margin-inline: -4px !important;
  margin-inline-end: -7px !important;
}

#trust-icon:hover {
color: var(--uc-color-fg-hover);
}

#trust-icon-container:hover,
#trust-icon-container[open] {
  background-color: transparent !important;
}

#trust-icon-container:is(.insecure, .warning, .file) {
  background-color: transparent !important;
}

/* X Trust-panel buttons */
#trustpanel-popup [data-l10n-id^="trustpanel-"] {
  --button-background-color-primary: var(--uc-color-surface) !important;
  --button-background-color-primary-hover: var(--uc-color-button-hover) !important;
  --button-background-color-primary-active: var(--uc-color-button-active) !important;

  --button-text-color-primary: var(--uc-color-fg-hover) !important;
  --button-text-color-primary-hover: var(--uc-color-fg-hover) !important;
  --button-text-color-primary-active: var(--uc-color-fg-hover) !important;
}

/* X ETP toggle */
#trustpanel-popup [data-l10n-id^="trustpanel-etp-toggle"] {
  --toggle-background-color-pressed: var(--uc-color-surface) !important;
  --toggle-background-color-pressed-hover: var(--uc-color-button-hover) !important;
  --toggle-background-color-pressed-active: var(--uc-color-button-active) !important;
}

/* X Links */
#trustpanel-popup [data-l10n-id="trustpanel-privacy-link"],
#trustpanel-popup [data-l10n-id$="siteinformation-morelink"] {
  color: var(--uc-color-surface) !important;
}

/* X Clear cookies */
#trustpanel-popup [data-l10n-id^="trustpanel-clear-cookies"] {
  --button-background-color-primary: var(--uc-color-surface) !important;
  --button-background-color-primary-hover: var(--uc-color-button-hover) !important;
  --button-background-color-primary-active: var(--uc-color-button-active) !important;

  --button-text-color-primary: var(--uc-color-fg-hover) !important;
  --button-text-color-primary-hover: var(--uc-color-fg-hover) !important;
  --button-text-color-primary-active: var(--uc-color-fg-hover) !important;
}

/*......................*/
/* TRUST-ICON/PANEL END */
/*......................*/

/*.................*/
/* DOWNLOADS START */
/*.................*/

/* XX Sets color of the download-button inner-fill progress circle */
#downloads-button {
  --toolbarbutton-icon-fill-attention: var(--uc-color-fg) !important;
}

/* XX Download-panel progress-bar fill */
.downloadProgress::-moz-progress-bar {
    background-color: var(--uc-color-fg) !important;
}

/*...............*/
/* DOWNLOADS END */
/*...............*/

/*.........................*/
/* CLOSE-TABS DIALOG START */
/*.........................*/

/* XX Sets colors for close-tabs popup */
#commonDialog {
    background-color: var(--uc-color-light-surface) !important;
  --button-background-color-primary: var(--uc-color-surface) !important;
  --button-background-color-primary-hover: var(--uc-color-button-hover) !important;
  --button-background-color-primary-active: var(--uc-color-button-active) !important;

  --button-text-color-primary: var(--uc-color-fg-hover) !important;
  --button-text-color-primary-hover: var(--uc-color-fg-hover) !important;
  --button-text-color-primary-active: var(--uc-color-fg-hover) !important;
}

/* X Removes the "Ask before closing multiple tabs" checkbox row; this is set permanently in user.js, so the checkbox and text are redundant */
@-moz-document url("chrome://global/content/commonDialog.xhtml") {
  #checkboxContainer:has(> #checkbox[label="Ask before closing multiple tabs"]) {
    display: none !important;
  }
}

/*.......................*/
/* CLOSE-TABS DIALOG END */
/*.......................*/

/* XX Removes the outter blue focus circle from the save-file dialogue selection dot */
radio[focused="true"] > .radio-check {
  outline: none !important;
}

/* XX Colors the selection dot black */
radio {
  accent-color: #060606 !important;
}

/* XX Changes the save-file dialog checkbox to black */
checkbox {
  accent-color: #060606 !important;
}
